.transaction {
  background-color: #fff;
  width: 600px;
  margin: 0px auto;
  margin-bottom: 100px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1rem 1rem 2rem rgb(65, 64, 64), -1rem -1rem 2rem rgb(82, 81, 81);
}

th,
td {
  height: 50px;
  text-align: center;
  border: 1px solid #555;
}

th {
  background-color: #b87536;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

tr {
  background-color: #fff;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #faf0e3;
}
